.bd-example {
    position:relative;
    padding: 24px;
    margin:0 -1.5rem;
    border:solid #ccc;
    border-width: 1px;
    margin: 0px;
}

body {
    font-size: 13px !important;
}

.nav-link {
    color: #fff !important;
    font-size: 16px !important;

}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-s {
    padding: 4px 8px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
}

.filters {
    font-size: 15px;
    white-space: nowrap;
    overflow: visible;
    width: 100%;
}

.chosen-container {
    min-width: 100%;
}

.nav-link.active {
    font-weight: bold;
}